<div>
    <h2>Mass Calculator</h2>
    <NavLink href="" Match="NavLinkMatch.All">
        Neutral to charged
    </NavLink>
    <NavLink href="charged-to-neutral">
        Charged to neutral
    </NavLink>
    <NavLink href="masserror">
        Mass error
    </NavLink>
    <NavLink href="isotopeprediction">
        Predict isotopes from composition
    </NavLink>
</div>

