<div>
    <h2>Mass Calculator</h2>
    <NavLink href="" Match="NavLinkMatch.All">
        Neutral to charged
    </NavLink>
    <NavLink href="ChargedToNeutral">
        Charged to neutral
    </NavLink>
    <NavLink href="MassError">
        Mass error
    </NavLink>
    <NavLink href="FromComposition">
        Calculate masses from composition
    </NavLink>
    <NavLink href="IsotopePrediction">
        Predict isotopes from composition
    </NavLink>
</div>

