@page "/MassError"

@using Fluxor
@using MassCalculator.Store.MassError

@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<MassErrorState> MassErrorState

<h3>Mass error</h3>
<p style="margin-bottom: 15px">
    If expected mass is
    <input aria-label="expected mass" type="text" @oninput="SetExpectedMass" value="@MassErrorState.Value.ExpectedMass" style="margin-bottom: 15px" />
    but observed mass is
    <input aria-label="observed mass" type="text" @oninput="SetObservedMass" value="@MassErrorState.Value.ObservedMass" style="margin-bottom: 15px" />
    then the mass error is @MassErrorState.Value.MassErrorPpm ppm
</p>

@code {
    private void SetExpectedMass(ChangeEventArgs obj)
    {
        if (obj.Value != null && double.TryParse((string)obj.Value, out var value))
        {
            Dispatcher.Dispatch(new SetExpectedMassAction(value));
        }
    }

    private void SetObservedMass(ChangeEventArgs obj)
    {
        if (obj.Value != null && double.TryParse((string)obj.Value, out var value))
        {
            Dispatcher.Dispatch(new SetObservedMassAction(value));
        }
    }

}
