@page "/masserror"

@using MassCalculator.Data

@inject MassConverterService massConverterService

<h1>Mass error calculator for mass spectrometry</h1>

<p>
    Enter expected mass:
    <input type="text" @bind="ExpectedMass" style="margin-bottom: 15px" />
</p>

<p>
    Enter observed mass:
    <input type="text" @bind="ObservedMass" style="margin-bottom: 15px" />
</p>

<h3>Mass error is @MassErrorPpm ppm</h3>

@code {
    private double ExpectedMass { get; set; }
    private double ObservedMass { get; set; }

    private double MassErrorPpm => Math.Abs(ObservedMass - ExpectedMass) / ExpectedMass * 1e6;
}
